
<h1 class="form-heading">Editing Booking</h1>

<%= render 'form' %>

<%= link_to 'Show booking', @booking, class:'btn btn-info'%>
<br>

<%= link_to '<< Back to all bookings', bookings_path, class:'btn btn-success'%>

