<div class="container">
    <h1>Editing Booking</h1>

<%= render 'form' %>

<%= link_to 'Show booking', @booking, class:'btn btn-info'%>
<br>
<br>
<%= link_to '<< Back to all bookings', bookings_path, class:'btn btn-success'%>

</div>