<footer class="footer container-fluid bg-info text-center text-muted">
    <div class="row">
        
    <div class="col-sm-4">
        <address>
            <strong>VR World, Inc.</strong><br>
              16 Virtual Street<br>
              Dun Laoghaire, Co. Dublin<br>
            <strong>Phone: </strong>(123) 456-7890<br>
            <strong>Email: </strong><a href="mailto:info@vrworld.ie">info@vrworld.ie</a>
       </address>
       
    </div>
    <div class="col-sm-4">
        
    </div>
    <div class="col-sm-4">
        
        <ul class="nav navbar-nav ">
        <li><a href="http://www.facebook.com" class="btn btn-lg"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>

	    <li><a href="http://www.twitter.com" class="btn btn-lg"><i class="fa fa-twitter" aria-hidden="true"></i> </a></li>

        <li><a href="http://www.youtube.com" class="btn btn-lg"><i class="fa fa-youtube-play" aria-hidden="true"></i> </a></li>
        </ul>
    </div>
    </div>
</footer>