<nav class="nav navbar-inverse">
	<div class="nav navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myCollapsingList">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="/">VR World</a>
	</div>
	<div class="collapse navbar-collapse" id="myCollapsingList">
		<ul class="nav navbar-nav navbar-right">
			<li >
				<a href="/">Home</a>
			</li>
			<li>
				<a href="/bookings">Bookings</a>
			</li>
			<li>
				<a href="/signedinuserprofile">Profile</a>
			</li>

		</ul>
	</div>

</nav>