
<section id="carousel">
	<div id="1carousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
			<li data-target="#1carousel" data-slide-to="0" class="active"></li>
			<li data-target="#1carousel" data-slide-to="1" class=""></li>
			<li data-target="#1carousel" data-slide-to="2" class=""></li>
		</ol>
		
		<div class="carousel-inner" role="listbox">
			
			<div class="item active">
				<%= link_to image_tag("VR.jpg", alt: "VR Guy", class: "center-block") %>
				<div class="carousel-caption">
					<h3> Virtual Reality World </h3>
					<p> Get ready to be surprised and enjoy an immersive experience.</p>
				</div>
			</div>
			
			<div class="item">
				<%= link_to image_tag("OC.jpg", alt: "VR Goggles", class:"center-block") %>
				<div class="carousel-caption">
					<h3> The VR Goggles </h3>
					<p> Your portal to another dimension. </p>
				</div>
			</div>
			
			<div class="item">
				<%= link_to image_tag("sports.jpg", alt: "VR Sports", class:"center-block") %>
				<div class="carousel-caption">
					<h3> Love sports? </h3>
					<p> You can play as part of your favourite team!</p>
				</div>
			</div>
			
        </div>
		
        <a class="left carousel-control" href="#1carousel" role="button" data-slide="prev">
		    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		    <span class="sr-only">Previous</span>
		</a>
		
		<a class="right carousel-control" href="#1carousel" role="button" data-slide="next">
		    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		    <span class="sr-only">Next</span>
		</a>

	</div>

	
</section>