// Place all the styles related to the Zones controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*.list_line_even {
    background: #faebd7;
}

.list_line_odd{
    background: #fefefa;
}*/